{% extends 'base.html' %}

{% block main %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <div class="row">

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-sZG5VVk41YqhJjYXgJFoRVd3d2AdDgy4oyIytQJMGx/Mizz1N+5bgKQBSCGfKQnP" crossorigin="anonymous">
            <title>Página Inicial</title>
    
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                    <a class="navbar-brand" href="{% url 'core_lista_veiculos' %}">Veículos</a>
                    <a class="navbar-brand" href="{% url 'core_lista_movrotativos' %}">Rotativos</a>
                    <a class="navbar-brand" href="{% url 'core_lista_movmensalista' %}">Mensalistas</a>
                    </button>
                </nav>
            </div>
        </div>
    </head>
    
    <body>
        <div style="background-image: url('https://s2.best-wallpaper.net/wallpaper/2560x1600/1402/Rolls-Royce-black-luxury-car-in-speed_2560x1600.jpg'); background-size: cover">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </body>

</html>
{% endblock %}