{% extends 'base.html' %}

{% load bootstrap %}
{% block main %}
    <title>Cadastro de Pessoas</title>
    <h2>Cadastro de Pessoas</h2><br>

    <div class="row">

        <div class="col-sm-6">
            <form action="{% url 'core_pessoas_add' %}" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-sm btn-outline-success" type="submit" >Salvar</button>
            </form>
        </div>

        <div class="col-sm-5">
            <nav class="navbar navbar-light bg-light">
                Lista de Pessoas Cadastradas
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pessoa in pessoas %}
                            <tr>
                                <th scope="row">{{ pessoa.id }}</th>
                                <td>{{ pessoa.nome }}</td>
                                <td>{{ pessoa.endereco }}</td>
                                <td>{{ pessoa.telefone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </nav>
        </div>

{% endblock %}