{% extends 'base.html' %}

{% load bootstrap %}
{% block main %}
<h1>Lista de Veículos</h1>
<ul>
    <h4>Veículo</h4>
    {% for veiculo in veiculos %}
        <li>
            <a href="{% url 'core_veiculos_update' veiculo.id %}">{{ veiculo.placa }}</a>
        </li>
    {% endfor %}
</ul>
<ul>
    <h4>Cadastro de novo Veículo</h4>
    <form action="{% url 'core_veiculos_add' %}" method="POST">{% csrf_token %}
        {{ form|bootstrap }}
        <button type="submitd">Salvar</button>
    </form>
</ul>
{% endblock %}