{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}
<h1>Cadastro de Movimentações</h1>

<div class="row">

    <div class="col-sm-5">
        <form action="{% url 'core_mov_rot_add' %}" method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-outline-success">Salvar</button>
        </form>
    </div>

    <div class="col-sm-7">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor Hora</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for mov in mov_rot %}
                    <tr>
                        <th scope="row">{{ mov.id }}</th>
                        <td>{{ mov.checkin }}</td>
                        <td>{{ mov.checkout }}</td>
                        <td>{{ mov.valor_hora }}</td>
                        <td>{{ mov.veiculo }}</td>
                        <td>{{ mov.pago }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}