{% extends 'base.html' %}

{% block main %}
    <title>Cadastro de Pessoas</title>
    <h1>Lista de Pessoas</h1>
    
    <nav class="navbar navbar-light bg-light">
        <ul>
            {% for pessoa in pessoas %}
                <li>
                    <a href="{% url 'core_pessoas_update' pessoa.id %}">
                        <button class="btn btn-outline-success my-2 my-sm-0">
                            {{ pessoa.nome }}
                        </button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="{% url 'core_pessoas_add' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-sm btn-outline-success" type="submit" >Salvar</button>
        </form>
    </nav>

{% endblock %}