{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <nav class="navbar navbar-light">
            <h1>Updating Pessoa: {{ pessoa }}</h1>
        </nav>
        <br>

        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" action="{% url 'core_pessoas_update' pessoa.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Salvar Alterações</button>
            </form>

            <button class="btn btn-outline-danger my-2 my-sm-0">Deletar</button>
            <a href="{% url 'core_pessoas_delete' pessoa.id %}"></a>
        </nav>

    </div>
{% endblock %}
